* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    font-family: Arvo, Arial, Helvetica, sans-serif;
}
header {
    padding: 0 80px 0 40px;
    background: #3a3a2a;
    color: #fff;
    overflow: auto;
    position: relative;
    border-bottom: 1px solid #fff;
}
a {
    text-decoration: none;
    color: #5d5859;
}
a:hover {
    text-decoration: none;
    color: #a2c67d;
}

section {
    float: left;
    padding: 0 40px;
    width: 100%;
}
md-input {
    width: 100%;
    overflow: visible !important;
}
md-hint {
    position: relative;
    float: left;
}
md-radio-button {
    padding: 10px;
}
md-card {
    position: relative;
    width: 100%;    
}
.spotify {
    color: #A2C67D;
}
header .material-icons {
    position: absolute;
    font-size: 3em;
    margin-top: -0.5em;
    top:50%; right: 40px;
    color: #695c57;
}
.search-input, .search-type {
    float: left;
    width: 50%;
    padding: 0 20px;
}
.search-form {
    margin: 0 -20px;
    width: 100%;
    float: left;
}
.search-results {
    margin: 0; padding: 0;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-flow: wrap;
}
.search-results li {
    
    /*display: inline-block;*/
    list-style: none;
    /*vertical-align: top;*/
    width: 23%;
    margin: 20px 1%;
    padding: 0;
}
.error-input {
    margin-top: 6px;
    font-size: 0.8em;
    color: #c81d31;
}
.track-artist-name:last-of-type > span {
    display: none;
}
.audio-track {
    position: absolute;
    bottom: 10px; right: 10px;
    color: #A2C67D;
    font-size: 2.5em;
    opacity: 0.3;
}
@media screen and (max-width: 1200px) {
    .search-results li {
        width: 31%;
    }
}
@media screen and (max-width: 780px) {
    .search-results li {
        width: 48%;
    }
}
@media screen and (max-width: 480px) {
    .search-results li {
        width: 100%;
    }
}