

<div *ngIf="_receivedData">
    <h3>
        Your results
    </h3>

    <ul [ngSwitch]="_type" class="search-results">
        <template [ngSwitchWhen]="'artist'" ngSwitchDefault>
            <li
              *ngFor="let artist of _receivedData.artists.items">
                <artist [_artistData]="artist"></artist>
            </li>
            
        </template>
        <template [ngSwitchWhen]="'track'">
            showing tracks
        </template>
        <template [ngSwitchWhen]="'album'">
            showing albums
        </template>
    </ul>
</div>
